<!-- tab2.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Music Library</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Music Library</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-song-list 
    [songs]="songList"
    (songSelect)="handleSongSelect($event)">
  </app-song-list>
  
  <app-song-details-modal 
    [isOpen]="isModalOpen"
    [song]="selectedSong">
  </app-song-details-modal>
</ion-content>